/* styles.css */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f2f2f2;
}

.logo {
    flex-grow: 1;
    text-align:left;
}

.logo img {
    max-width: 100px;
}

.menu {
    text-align: right;
}

.menu a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
}
